*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-x: hidden;
}

.hero{
    display: flex;
    width: 100%;
    flex-direction: column;
    background: url(../img/background3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-color: rgb(44, 43, 43);
    background-blend-mode: overlay;
    opacity: 1;
    overflow: hidden;
    padding-bottom: 50px;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px;
    position: fixed;
    z-index: 10;
    background: #1b1b1b;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    display: flex;
    width: 50%;
}

nav{
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

nav ul{
    display: flex;
    width: 80%;
}

nav ul li{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

nav ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    color: #fff;
}

.active{
    color: rgb(49, 168, 95);
}


/* hero-text */
.hero-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 5%;
    width: 50%;
    color: #fff;
    padding-bottom: 50px;
}

.hero-text h3{
    font-size: 3rem;
    width: 80%;
    display: flex;
    font-weight: 400;
}

.hero-text p{
    display: flex;
    width: 100%;
    font-size: 1.3rem;
    line-height: 1.6;
    margin-top: 20px;
}

.hero-text button{
    display: flex;
    padding: 20px;
    width: 30%;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 50px;
    margin-top: 20px;
    background: rgb(19, 84, 158);
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 50px;
}

/* services section */

.services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.service-head{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.service-head p{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    opacity: 0.2;
}

.service-head h3{
    text-transform: capitalize;
    font-size: 2rem;
    margin-top: 10px;
    font-weight: 500;
}

.service-details{
    display: flex;
    margin-top: 50px;
    margin-left: 40px;
    width: 90%;
    justify-content: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.content img{
    width: 100%;
}

.content h3{
    margin-top: 20px;
    cursor: pointer;
}


.content h3:hover{
    color: blue;
}

.content-text{
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.content-text p{
    margin-top: 10px;
}