*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    width: 100%;
    flex-direction: column;
    overflow-x: hidden;
}

.hero{
    display: flex;
    width: 100%;
    flex-direction: column;
    background: url(../../img/background3.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    background-color: rgb(44, 43, 43);
    background-blend-mode: overlay;
    opacity: 1;
    overflow: hidden;
    padding-bottom: 10px;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    position: fixed;
    height: 150px;
    z-index: 10;
    background: #f6f3f3;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    display: flex;
    width: 50%;
}

nav{
    display: flex;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
}

nav ul{
    display: flex;
    width: 80%;
}

nav ul li{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

nav ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    color: rgb(78, 75, 75);
}

.active{
    color: rgb(49, 168, 95);
}


/* hero-text */
.hero-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 5%;
    width: 50%;
    color: #fff;
    padding-bottom: 50px;
}

.hero-text h3{
    font-size: 3rem;
    width: 80%;
    display: flex;
    font-weight: 400;
}

.hero-text p{
    display: flex;
    width: 100%;
    font-size: 1.3rem;
    line-height: 1.6;
    margin-top: 20px;
}

/* description */
.description{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    margin-left: 50px;
}

.description h3{
    display: flex;
    width: 80%;
    font-size: 2rem;
    margin-top: 50px;
}

.description p{
    margin-top: 30px;
    width: 70%;
    opacity: 0.5;
}

/* price contents */
.price-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 95%;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

.grid-contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #1772bd;
    width: 100%;
    padding: 30px;
    align-items: center;
}

.grid-head{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
}

.grid-head h3{
    font-weight: 500;
}


.grid-head h1{
    font-weight: 500;
    margin-top: 10px;
    font-size: 3rem;
    color: #df3e3e;
    opacity: 0.3;
}

.grid-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.grid-body p{
    margin-top: 10px;
    font-size: .8rem;
}

.grid-body button{
    margin-top: 20px;
    padding: 20px;
    width: 200px;
    outline: none;
    border: none;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    background: #1d5cd3;
    cursor: pointer;
}

.contact-details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
}

.text-details{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 30%;
}

.address{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.address h3{
    font-weight: 500;
    font-size: 2rem;
}

.address p{
  opacity: 0.5;
  margin-top: 10px;
}

.phones{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

.phones h3{
    font-weight: 500;
    font-size: 2rem;
}

.phone-numbers p{
  opacity: 0.5;
  margin-top: 10px;
}

.email-address{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

.email-address h3{
    font-weight: 500;
    font-size: 2rem;
}

.email-address a{
  text-decoration: none;
  margin-top: 10px;
  color: #1772bd;
}

.map{
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.map img{
    width: 100%;
}
/* footer */

#footer{
    display: flex;
    width: 100%;
    justify-content: center;
    background: rgb(10, 10, 10);
    color: #fff;
    padding-top: 150px;
    padding-bottom: 30px;
}

.summary{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 30%;
    margin-right: 30px;
    margin-left: 50px;
}

.summary img{
    width: 30%;
    display: flex;
}

.summary p{
    display: flex;
    margin-top: 20px;
    line-height: 1.5;
    width: 100%;
    opacity: 0.5;
}

.location{
    display: flex;
    flex-direction: column;
}

.location p{
    opacity: 1;
    font-size: 1.3rem;
}

.location a{
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
}

#email{
    color: #1772bd;
}

.recent-news{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 30%;
}

.recent-news h3{
    font-weight: 300;
    font-size: 1.3rem;
}

.alert{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 30px;
}

.alert p{
    margin-top: 5px;
}

.date{
    color: #1772bd;
}

#form{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 30%;
}


#form h3{
    font-weight: 300;
    font-size: 1.3rem;
}

.form-group{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 20px;
}

.form-group input{
    display: flex;
    padding: 15px;
    margin-top: 10px;
    outline: none;
    border: none;
    background: #1b1b1b;
}


.form-group input::placeholder{
    font-weight: 500;
    font-size: 1rem;
}

#message{
    display: flex;
    padding: 15px;
    background: #1b1b1b;
    outline: none;
    border: none;
    opacity: 0.5;
    font-size: 1.3rem;
    color: #fff;
}

#form button{
    margin-top: 30px;
    width: 45%;
    font-weight: 500;
    text-transform: uppercase;
    color: #fff;
    background: #1772bd;
    padding: 20px;
    outline: none;
    border: none;
    border-radius: 50px;
}

.copyright{
    display: flex;
    background: #000;
    padding: 20px;
}

.copyright p{
    display: flex;
    color: #fff;
    opacity: 0.7;
}